STAGING_SUPABASE_URL=
STAGING_SUPABASE_ANON_KEY=
STAGING_USER_A_EMAIL=
STAGING_USER_A_PASSWORD=
STAGING_USER_B_EMAIL=
STAGING_USER_B_PASSWORD=
STAGING_USER_A_UUID=a6dc2118-2140-4416-8642-9c3eba691288
STAGING_USER_B_UUID=aa116396-4dc1-461e-8502-61b6896570b4