# Flutter / Dart
.dart_tool/
.packages
.pub/
build/

# Flutter generated
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
